Flask
Flask-Cors
mysql-connector-python
bcrypt
twilio
python-dotenv
numpy
opencv-python
tensorflow
tensorflow-estimator
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-io-gcs-filesystem
keras
